<!-- -*- ENGINE:go -*- -->
<a href="{{- .Permalink -}}" class="card h-full w-full lg:w-3/4 bg-base-100 shadow-xl group">
    {{- with .Resources.GetMatch "cover.webp" -}}
        <figure><img src="{{- .Permalink -}}" alt="{{- .Title -}}" class="w-full" /></figure>
    {{- end -}}
    <div class="card-body">
        <h3 class="text-xl lg:text-2xl font-bold group-hover:link">{{- .Title -}}</h3>
        <span class="text-sm">{{- printf .Site.Data.strings.datetime ( .Date.Format "2 Jan 2006" ) ( .ReadingTime ) -}}</span>
        <p>{{- .Summary -}}</p>
    </div>
</a>
