<!-- -*- ENGINE:go -*- -->
<a href="{{- .Permalink -}}" class="flex flex-row gap-2 bg-base-100 shadow-xl rounded-xl group p-2 w-full lg:w-3/4 items-center group">
    {{- with .Resources.GetMatch "cover.webp" -}}
        <img src="{{- .Permalink -}}" alt="{{- .Title -}}" class="h-28 w-28 mask mask-squircle"/>
    {{- end -}}
    <div class="flex flex-col gap-2">
        <h3 class="text-xl lg:text-2xl font-bold group-hover:link">{{- .Title -}}</h3>
        <p>{{- .Summary -}}</p>
    </div>
</a>
