{{- define "main" -}}
    <main class="flex flex-col gap-8">

        <article
            class="prose lg:prose-xl dark:prose-invert lg:self-center prose-h1:text-center
                   prose-figure:flex prose-figure:flex-col prose-figure:items-center
                   lg:text-justify">

            <h1>{{- .Title -}}</h1>

            {{- if ne .Type "page" -}}
                <div class="italic">{{- .Date.Format "2 January 2006" -}}</div>
            {{- end -}}

            {{- with .Resources.GetMatch "cover.webp" -}}
                <figure><img src="{{- .Permalink -}}" alt="{{- .Title -}}" /></figure>
            {{- end -}}

            {{- if eq .Type "articles" -}}
                {{- if gt ( ( .TableOfContents | plainify ) | len ) 0 -}}
                    <aside class="prose border w-full mx-auto">
                        {{ .TableOfContents }}
                    </aside>
                {{- end -}}
            {{- else if eq .Type "library" -}}
                <a class="italic underline" href='{{- .Params.Link -}}'>{{- printf .Site.Data.strings.bookline ( .Title ) ( .Params.Author ) -}}</a>
            {{- end -}}

            {{- .Content -}}
        </article>

        {{- with .GetTerms "tags" -}}
            <ul class="flex flex-row gap-4 flex-wrap lg:w-7/12 self-center">
                {{- range . -}}
                    <li><a href="{{- .Permalink -}}" class="badge">#{{- .LinkTitle -}}</a></li>
                {{- end -}}
            </ul>
        {{- end -}}


        {{- if ne .Type "page" -}}
            <div class="flex flex-col gap-4 self-center w-full lg:w-7/12 lg:flex-row lg:justify-between font-bold">
                {{- with .PrevInSection -}}
                    <div class="mr-auto">← <a href="{{- .Permalink -}}" class="link">{{- .Title -}}</a></div>
                {{- end -}}

                {{- with .NextInSection -}}
                    <div class="ml-auto"><a href="{{- .Permalink -}}" class="link">{{- .Title -}}</a> →</div>
                {{- end -}}
            </div>
        {{- end -}}
    </main>
    <aside>
        {{- partialCached "partials/newsletter.html" . -}}
    </aside>
{{- end -}}
