<!-- -*- ENGINE:go -*- -->
<section class="flex flex-col gap-4 shadow-xl rounded items-center p-4">
    <h2 class="text-xl lg:text-2xl font-bold text-center">{{- .Site.Data.labels.newsletter -}}</h3>
        <p class=" text-justify">{{- .Site.Data.strings.newsletter | safeHTML -}}</p>
</section>
