{{- define "main" -}}
    <main class="flex flex-col gap-8">

        <section class="hero">
            <div class="hero-content text-center">
                <div class="max-w-xl flex flex-col gap-4 items-center">
                    <h1 class="text-3xl lg:text-5xl font-bold">{{- .Site.Data.labels.hero -}}</h1>
                    <img src="/icons/icon.webp" alt="My cat, Googol" class="w-64 h-64 rounded-full justify-center">
                    <p class="py-4 text-justify lg:text-center">{{- .Site.Data.strings.hero -}}</p>
                    {{- $class := "btn bg-gradient-to-br from-COLOR-500 to-COLOR-600 hover:from-COLOR-600 hover:to-COLOR-500 text-white border-0" -}}
                        <div class="flex flex-row gap-4 justify-center">
                            <a href="https://github.com/arun-mani-j" class="{{- replace $class "COLOR" "sky" -}}">GitHub</a>
                            <a href="/resume" class="{{- replace $class "COLOR" "green" -}}">Resume</a>
                            <a href="https://gitlab.com/arun-mani-j" class="{{- replace $class "COLOR" "orange" -}}">GitLab</a>
                        </div>
                </div>
            </div>
        </section>

        <section class="flex flex-col gap-8">
            <h2 class="text-2xl lg:text-4xl font-bold flex flex-row gap-4">
                <a href="/articles">{{- .Site.Data.labels.articles -}}</a>

            </h2>
            <div class="grid lg:grid-cols-3 gap-4 items-center justify-items-center">
                {{- range first 3 ( where .Site.RegularPages "Section" "articles" ) -}}
                    {{- partial "cards/article.html" . -}}
                {{- end -}}
            </div>
        </section>

        <section class="flex flex-col gap-8">
            <h2 class="text-2xl lg:text-4xl font-bold flex flex-row gap-4">
                <a href="/projects">{{- .Site.Data.labels.projects -}}</a>

            </h2>
            <div class="grid lg:grid-cols-3 gap-4 items-center justify-items-center">
                {{- range first 3 ( where .Site.RegularPages "Section" "projects" ) -}}
                    {{- partial "cards/project.html" . -}}
                {{- end -}}
            </div>
        </section>

        <section class="flex flex-col gap-8">
            <h2 class="text-2xl lg:text-4xl font-bold flex flex-row gap-4">
                <a href="/library">{{- .Site.Data.labels.library -}}</a>

            </h2>
            <div class="grid lg:grid-cols-3 gap-4 items-center justify-items-center">
                {{- range first 3 ( where .Site.RegularPages "Section" "library" ) -}}
                    {{- partial "cards/library.html" . -}}
                {{- end -}}
            </div>
        </section>

    </main>
    <aside>
        {{- partialCached "partials/newsletter.html" . -}}
    </aside>
    {{- end -}}
