<!-- -*- ENGINE:go -*- -->
<footer class="footer footer-center p-4 gap-2 border-t border-base-200">
    <p>
        {{- .Site.Params.privacy -}}
    </p>
    <p>
        {{- .Site.Params.fancyline -}}
    </p>
    <p>
        {{- .Site.Params.genAI -}}
    </p>
    <div class="flex flex-row gap-4">
        {{- range .Site.Menus.social -}}
            <a href="{{- .URL | safeURL -}}"><img src="{{- .Params.icon -}}" alt="{{- .Name -}}" class="h-8 w-8 rounded-full border border-base-200 dark:p-1 dark:invert"/></a>
        {{- end -}}
    </div>
    <div>
        <p class="">
            {{- printf .Site.Params.copyleft ( now.Format "2006" ) -}}
        </p>
        <p>
            {{- .Site.Params.license | safeHTML -}}
        </p>
        <p>
            {{- .Site.Params.source | safeHTML -}}
        </p>
    </div>
</footer>
