<!-- -*- ENGINE:go -*- -->
<head>
    {{- template "_internal/opengraph.html" . -}}

    <title>{{- .Page.Title -}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{- if eq .Page.Layout "resume" -}}
        <meta http-equiv="Refresh" content="0; url='https://arun-mani-j.gitlab.io/resume/resume.pdf'"/>
    {{- end -}}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="{{- .Site.Params.icon -}}">
    <link rel="apple-touch-icon" href="{{- .Site.Params.icon -}}">

    {{- $style := resources.Get "css/output.css" | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{- $style.Permalink -}}">

    <meta name="theme-color" content="#fafafa">

    <link rel="me" href="https://mastodon.social/@arunmani">
</head>
