<!-- -*- ENGINE:go -*- -->
<header class="flex shadow flex-col lg:flex-row p-4">
    <a href="/" class="text-2xl font-bold flex-1 text-center lg:text-left">
        Arun Mani J
    </a>
    <nav class="flex-none mx-auto">
        <ul class="flex flex-row gap-4 mx-auto">
            {{- range .Site.Menus.main -}}
                <li><a href="{{- .URL -}}" class="link lg:link-hover text-xl">{{- .Name -}}</a></li>
            {{- end -}}
        </ul>
    </nav>
</header>
